.body-background{
    height:100vh;
}

.card{
    width:400px;
    border:none;
    
}

.form-control{
    height:45px;
    border-radius:10px;
}

.form-control:focus{
    box-shadow:none;
}


.btn-signup{
    height:50px;
    border-radius:10px;
}

#registerForm{
    text-align: left;
    font-size: 13px;
    font-style: italic;
    margin-bottom: -0.5rem;
}